# Java
*.class

# Maven
target/

# Gradle
.gradle/
build/

# IDEs
.idea/
*.iml
*.iws
*.ipr
.settings/
.vscode/

# STS
.apt_generated
.factorypath
.springBeans
.sts4-cache/
.recommenders/
.metadata/
.project
.classpath
.settings/

# NetBeans
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

# OS
.DS_Store
Thumbs.db